{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/user/Desktop/symfony/test_shop/src/Controller/OrderController.php</code></li>
        <li>Your template at <code>C:/Users/user/Desktop/symfony/test_shop/templates/order/index.html.twig</code></li>
    </ul>
    {# templates/order/index.html.twig #}
    <form id="order-form">
        {{ form_widget(form.service_type, {'attr': {'onchange': 'updatePrice()'}}) }}
        {{ form_widget(form.email) }}
        <div id="price">500 р.</div>
        {{ form_widget(form.price) }}
        <button type="submit">Подтвердить</button>
    </form>

    <script>
        const prices = { car: 500, apartment: 1000, business: 1500 };
        function updatePrice() {
            const service = document.getElementById('order_service_type').value;
            document.getElementById('price').innerText = `${prices[service]} р.`;
            document.getElementById('order_price').value = prices[service];
        }
    </script>
</div>
{% endblock %}
